[Unit]
Description=Argon One Fan Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/argonone-fan.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
